<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bezier_chicken01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{148,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,138}}</string>
                <key>sourceSize</key>
                <string>{154,144}</string>
            </dict>
            <key>bezier_chicken02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{148,140}}</string>
                <key>sourceSize</key>
                <string>{154,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bezier.png</string>
            <key>size</key>
            <string>{152,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:064d868704fbede91473565cb63f067c:db59abcaf31910048b1c7e21e8ae0178:d5f4ab66083355bf675e9ee0bf4cc8aa$</string>
            <key>textureFileName</key>
            <string>bezier.png</string>
        </dict>
    </dict>
</plist>
