<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chicken01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{148,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{148,138}}</string>
                <key>sourceSize</key>
                <string>{154,144}</string>
            </dict>
            <key>chicken02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{148,140}}</string>
                <key>sourceSize</key>
                <string>{154,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chick.png</string>
            <key>size</key>
            <string>{152,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96995aca7b635415369c114072fc7886:7124b624a75e64a5d095633c37f042fc:3f95ceec4cbe4544fa7dc8d34f528ac9$</string>
            <key>textureFileName</key>
            <string>chick.png</string>
        </dict>
    </dict>
</plist>
