<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bez_chick01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,141}</string>
                <key>spriteSourceSize</key>
                <string>{115,141}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bez_chick02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,141}</string>
                <key>spriteSourceSize</key>
                <string>{115,141}</string>
                <key>textureRect</key>
                <string>{{1,144},{113,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bez_chick.png</string>
            <key>size</key>
            <string>{115,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a902636572c2126fdd52f3d8a560689d:2ed23523e8379de3f590eb127e448649:a4dc2e092c07f2ffde1de532b1c031b1$</string>
            <key>textureFileName</key>
            <string>bez_chick.png</string>
        </dict>
    </dict>
</plist>
