<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chickSR01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{113,138}</string>
			<key>spriteSourceSize</key>
			<string>{149,174}</string>
			<key>textureRect</key>
			<string>{{1,141},{113,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chichSR02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{113,138}</string>
			<key>spriteSourceSize</key>
			<string>{149,174}</string>
			<key>textureRect</key>
			<string>{{1,1},{113,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>chickSR.png</string>
		<key>size</key>
		<string>{115,280}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:605246aab2c8fadf976aec521c326cfe:52dce84753ccad138110df28f1847f6d:685d6f1b6015357620867f985bc39e05$</string>
		<key>textureFileName</key>
		<string>chickSR.png</string>
	</dict>
</dict>
</plist>
