<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chickenS01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{113,138}</string>
                <key>spriteSourceSize</key>
                <string>{149,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chickenS02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{113,138}</string>
                <key>spriteSourceSize</key>
                <string>{149,174}</string>
                <key>textureRect</key>
                <string>{{1,141},{113,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chickS.png</string>
            <key>size</key>
            <string>{115,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4f57856c4022b28f96289cbc6bafab:0a64ffe2cd8f8a9d45b25f8fc01c9e25:c1953e72bc59b67002b107b1d6578dab$</string>
            <key>textureFileName</key>
            <string>chickS.png</string>
        </dict>
    </dict>
</plist>
