<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>react_chick01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{159,131}</string>
                <key>spriteSourceSize</key>
                <string>{181,165}</string>
                <key>textureRect</key>
                <string>{{295,1},{159,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>react_chick02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{145,129}</string>
                <key>spriteSourceSize</key>
                <string>{181,165}</string>
                <key>textureRect</key>
                <string>{{148,1},{145,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>react_chick03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{145,127}</string>
                <key>spriteSourceSize</key>
                <string>{181,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>react_chick.png</string>
            <key>size</key>
            <string>{455,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f277dcf507d26fef368f19422aa0b41:b11bcd47aead5baa3af54bdb7d86d89b:5939636d741819c93c8fd34b90199f4a$</string>
            <key>textureFileName</key>
            <string>react_chick.png</string>
        </dict>
    </dict>
</plist>
